Lets build out the basic distance matrix.
Basically a combination of all the unique facility_ids.

In [2]:
import pandas as pd

In [3]:
location_df = pd.read_csv('stops_jitter.csv')

In [61]:
location_df.describe()

,Unnamed: 0,Deliv_ID,Quantity,Hot_Skill,Fridge_Skill,Serv_Time,lat_new,long_new
count,13921.000000,13921.000000,13921.000000,13921.000000,13921.000000,13921.000000,13921.000000,13921.000000
mean,6960.000000,7445.547374,1.224122,0.611091,0.388909,6.276381,40.672577,-73.940529
std,4018.790884,4291.529388,0.908008,0.487520,0.487520,1.132443,0.024242,0.035039
min,0.000000,2.000000,1.000000,0.000000,0.000000,6.000000,40.573465,-74.028411
25%,3480.000000,3747.000000,1.000000,0.000000,0.000000,6.000000,40.657986,-73.964435
50%,6960.000000,7501.000000,1.000000,1.000000,0.000000,6.000000,40.675148,-73.941428
75%,10440.000000,11236.000000,1.000000,1.000000,1.000000,6.000000,40.690234,-73.915615
max,13920.000000,14941.000000,5.000000,1.000000,1.000000,11.000000,40.738458,-73.859150

In [5]:
location_df.head()

,Unnamed: 0,Weekday,Contract,Deliv_ID,Quantity,Hot_Skill,Fridge_Skill,Serv_Time,Route_Code,lat_new,long_new
0,0,Friday,BK2_3,11918,1,1,0,6.0,B,40.692674,-73.989853
1,1,Monday,BK2_3,465,1,1,0,6.0,B,40.692674,-73.989853
2,2,Thursday,BK2_3,8058,1,1,0,6.0,B,40.692674,-73.989853
3,3,Friday,BK2_3,11717,1,0,1,6.0,B,40.692674,-73.989853
4,4,Tuesday,BK2_3,3290,1,1,0,6.0,B,40.692674,-73.989853

In [56]:
Delivery_id = location_df[['Deliv_ID', 'long_new', 'lat_new']].sort_values('Deliv_ID').copy()

In [57]:
Delivery_id.head()

       Deliv_ID   long_new    lat_new
10775         2 -73.953443  40.709717
6842          3 -73.950178  40.699487
10776         4 -73.953443  40.709717
10779         5 -73.934727  40.703086
10782         6 -73.934727  40.703086

In [58]:
Unique_delivery_id = Delivery_id.drop_duplicates()

In [59]:
Unique_delivery_id.head()

       Deliv_ID   long_new    lat_new
10775         2 -73.953443  40.709717
6842          3 -73.950178  40.699487
10776         4 -73.953443  40.709717
10779         5 -73.934727  40.703086
10782         6 -73.934727  40.703086

In [60]:
Unique_delivery_id.describe()

           Deliv_ID      long_new       lat_new
count  13921.000000  13921.000000  13921.000000
mean    7445.547374    -73.940529     40.672577
std     4291.529388      0.035039      0.024242
min        2.000000    -74.028411     40.573465
25%     3747.000000    -73.964435     40.657986
50%     7501.000000    -73.941428     40.675148
75%    11236.000000    -73.915615     40.690234
max    14941.000000    -73.859150     40.738458

Ok, lets initalize the matrix

In [53]:
# Sorted_delivery_id = pd.DataFrame()
# Sorted_delivery_id['UID'] = Unique_delivery_id['Deliv_ID'].sort_values()

In [54]:
# Sorted_delivery_id.head()

       UID
10775    2
6842     3
10776    4
10779    5
10782    6

In [21]:
import openrouteservice

Lets now define a function to return the distance between two long, lats

In [71]:
def get_distance(a):
    client = openrouteservice.Client(key='5b3ce3597851110001cf6248f5bd04972a564fcdad6e3b2fdc172d39')
    matrix = client.distance_matrix(
    locations=a,
    profile='foot-walking',
    metrics=['distance'],
    validate=False,
    )
    return matrix
test = get_distance(((-73.9808731, 40.6584876), (-73.9461372, 40.6949719)))

test['distances']

[[0.0, 6045.15], [6045.15, 0.0]]

Ok so we have the bones now. Lets put it all together.

Lets get a long scalar of the coordinates.

In [48]:
import numpy as np

distance_matrix = np.zeros((13922, 13921))

In [52]:
distance_matrix[0,:]

array([0., 0., 0., ..., 0., 0., 0.])

In [70]:
# for i in Unique_delivery_id['Deliv_ID']:
#     print(i)

distance_matrix = pd.DataFrame(distance_matrix, columns = list(Unique_delivery_id['Deliv_ID']))



distance_matrix[:,0] = Unique_delivery_id['Deliv_ID']

print(distance_matrix)
print(type(distance_matrix))

# distance_matrix.columns = list(Unique_delivery_id['Deliv_ID'])

InvalidIndexError: (slice(None, None, None), 0)

Lets get the matrix data

In [83]:

long_lats = []

long_lats.append(1)

for UID in Unique_delivery_id['Deliv_ID']:
    # long_lats = long_lats.append([Unique_delivery_id['long_new'], Unique_delivery_id['lat_new']])
    long_lats = long_lats.append('1')
long_lats

# unprocessed_matrix = get_distance(((-73.9808731, 40.6584876), (-73.9461372, 40.6949719)))

AttributeError: 'NoneType' object has no attribute 'append'